@model Product
@{
    var ratingIntegerPart = (int)Math.Floor(Model.ProductRating);
    var remainingStars = 5 - ratingIntegerPart;

}

<!-- Start Single Product -->
<div class="single-product">
    <div class="product-image">

        @if (Model.Images != null && Model.Images.Any())
        {
            <img src="@Helper.GetProductImage(Model.Images.First().ImageUrl)" alt="Product Image">
        }
        else
        {
            <img src="/template/assets/images/product/default.jpg" alt="Product Image">
        }
        <div class="button">
            <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn">
                <i class="lni lni-cart"></i> Add to Cart
            </a>
        </div>
    </div>
    <div class="product-info">
        @if (Model.Categories.Any())
        {
            <span class="category">
                @Model.Categories.FirstOrDefault().Category.Name
            </span>
        }
        <h4 class="title">
            <a href="@Url.Action("Detail", "Product",new{slug=Model.ProductName})">@Model.ProductName</a>
        </h4>
        <ul class="review">
            @for (int i = 0; i < ratingIntegerPart; i++)
            {
                <li><i class="lni lni-star-filled"></i></li>
            }
            @for (int i = ratingIntegerPart; i < 5; i++)
            {
                <li><i class="lni lni-star"></i></li>
            }
            <li>
                <span>@Model.Comments.Count Review(s)</span>
            </li>
        </ul>
        <div class="price">
            <span>$@Model.Price</span>
        </div>
    </div>
</div>
<!-- End Single Product -->